@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins:wght@300&family=Roboto:wght@100;400&family=Rubik:wght@500&display=swap');


* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: center;
    padding: 0 30px;
    text-align: center;
    background: #EDEDED;
	color: #4B5658;
}

main .intro {
    font-size: 3.2rem;
    font-weight: 600;
}

main .def {
    font-size: 1.5rem;
    margin: 1.5rem 0;
    font-weight: 100;
}

.social-icons i {
    font-size: 3rem;
    padding: 10px;
    color: #4B5658;
}

.social-icons a {
    text-decoration: none;
}

main .image {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-bottom: 2rem;   
}

main .image img {
    height: 180px;
    border-radius: 50%;
    object-fit: cover;
}


@media screen and (max-width: 754px){
    main .intro {
        font-size: 3rem;
    }

    main .def {
        font-size: 1.5rem;
    }

    .social-icons i {
        font-size: 2.5rem;
        padding: 10px;
    }
}

@media screen and (max-width: 480px){
    main .intro {
        font-size: 1.6rem;
    }

    main .def {
        font-size: 1.2rem;
    }

    .social-icons i {
        font-size: 1.8rem;
        padding: 10px;
    }

    main .image img {
        height: 160px;
        border-radius: 50%;
        object-fit: cover;
    }
}

@media screen and (max-width: 300px) {
    main .intro {
        font-size: 1.3rem;
    }

    main .def {
        font-size: 1rem;
    }

    .social-icons i {
        font-size: 1.8rem;
        padding: 10px;
    }

    main .image img {
        height: 140px;
        border-radius: 50%;
        object-fit: cover;
    }
}